include mixins

doctype html
//- Global variables
block vars
//- Template
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(content="telephone=no" name="format-detection")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet")
		link(rel="stylesheet" href="main.css")
		title Шаблон письма
		+style-tags
	body
		center
			.w640
				block preheader				
				+ie-open({table:640, cell:640})
				table.wrapper(cellspacing="0" cellpadding="0" border="0" width="100%")
					block header
					block message
					block content
					block footer
				+ie-close
	