extends layers/_default

block vars
	-
		page = {
			preheader:'home',
			flyIn: 'Москва',
			href: 'https://new.city.travel/to/catalog/?from=MOW',
			logo: 'https://city.travel',
			logoSrc: 'https://city.travel/images/ext/img/logo.png',
			imgSrc: 'https://city.travel/images/ext/img/password.png',
			message: ' учётная запись обновлена',
			appTitle: 'Стартовый шаблон',
			description: 'Стартовый шаблон для верстки'
		}

block header
	+header
block content
	+content
block footer
	+footer