center {
	margin:0 auto; 
	width:640px;
	table-layout:fixed;
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
}

.h1{
	font-weight: 500;
	font-size: 24px;
	color:$h1-color;
	margin-bottom: 16px;
}
.desc{
	font-weight: 300;
	font-size: 18px;
}

