.content{
	background-color:#ffffff;
	background-image:none;
	background-repeat:repeat;
	background-position:top left;
	background-attachment:scroll;
	padding-top:50px;
	padding-bottom:30px;
	padding-right:33px;
	padding-left:33px;
	line-height:30px;
	color:#3d3d3d;
	font-family: 'Open Sans', sans-serif;
	font-size:16.5px;
	&__text{
		margin-top:0;
		margin-bottom:14px;
		line-height:1.5;
		color:#3d3d3d;
		font-family: 'Open Sans', sans-serif;
		font-size:16.5px;
	}

}
.content__pass{
		background-color:#dae9fa;
		padding-top:18px;
		padding-bottom:18px;
		padding-right:0px;
		padding-left:18px;
		line-height:1.3;
		color:#3d3d3d;
		font-family: 'Open Sans', sans-serif;
		font-size:16.5px;
	}
.content__link{
	color: rgb(51, 102, 153); 
	font-weight: normal; 
	font-size: 17px;
	text-decoration: underline;
}
.img-email{
	margin-bottom:36px;
}