.header{
	background-color:#f6f6f6;
	background-image:none;
	background-repeat:repeat;
	background-position:top left;
	background-attachment:scroll;
	text-align:center;padding-top:55px;
	padding-bottom:31px;
	padding-right:33px;padding-left:33px;
	line-height:0;
	color:#3d3d3d;
	font-family: 'Open Sans', sans-serif;
	font-size:16.5px;
}