//- Header
//---------------
mixin header
	tr
		td
			table.header(cellspacing="0" cellpadding="20" border="0" width="100%" bgcolor="#5B9AE4")
				tr
					td
						center(style="margin:0 auto; width:640px;table-layout:fixed;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;")
							+ie-open({table: 640})
							table(cellspacing="0" cellpadding="0" border="0" width="640" align="center")
								tr
									td
										div(style="display: block;")
											table(cellspacing="0" width="100%" cellpadding="0" border="0" height="45")
												tr
													td(width="50%")
														a(href="httpe://city.travel")
															img(src="https://gallery.mailchimp.com/11b2ba62a2d4d21ef7a3daad5/images/78dcfde2-99df-4558-8479-b1dc5c0c24c6.png", width="167" height="45" alt="Логотип City.Travel")
													td(width="50%" align="right" valign="middle" style="font-size: 12px; font-weight: 300; color: white;")
														p.link Проблемы с отображением письма?
														a.link(href="#") Смотрите онлайн-версию
							+ie-close
				

