//- Style Tags
//--------------------------------
mixin style-tags
	style.
		html {
			margin:0;
			padding:0;
			height:100% !important;
			width:100% !important;
			background:#E8E8E8 !important;
		}
		
		body {
		  margin:0;
		  padding:0;
		  height:100% !important;
		  width:100% !important;
		  min-width: 100%!important; 		  
		  background:#E8E8E8 !important;
		  -webkit-text-size-adjust:none;
		  -ms-text-size-adjust:none;
			}
			p{
			padding: 0;
			Margin: 0 0 6px 0;
			}
			table, td {
				border-spacing: 0px;
				border-collapse: collapse;
				mso-table-lspace: 0pt;
				mso-table-rspace: 0pt;

			}
			img {
				border: 0;
				height: auto;
				line-height: 100%;
				outline: none;
				text-decoration: none;
				-ms-interpolation-mode: bicubic;
			}
		  
			@import url('https://fonts.googleapis.com/css?family=Roboto:300,500'); 
